<h1><%= @the_username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @the_user.private %></dd>

  <dt>Followers</dt>
  <dd>
    <%= @followers.count() %>

  </div>

  <h4>Pending follow requests</h4>

  <ul>

    <%#= @follower_request_pending.sender.count()%>

    <% @followers_pending.each do |a_pending_follower| %>
      <li>
        <%= a_pending_follower.username %>

        <form action="/modify_follow_request/<%= a_pending_follower.id%>" method="post">
          <input name="query_status" value="accepted" type="hidden">

          <button>
            Accept
          </button>
        </form>

        <form action="/modify_follow_request/<%= a_pending_follower.id%>" method="post">
          <input name="query_status" value="rejected" type="hidden">

          <button>
            Reject
          </button>
        </form>
      </li>
    <% end %>
  </ul>
</dd>

<dt>Following</dt>
<dd><%= @following.count() %></dd>
</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%= @the_username %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @the_username %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @the_username %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @the_username %>/discover">Discover</a>
    </li>
  </ul>
</nav>

<div>
  <table border="1">
    <tr>

      <th>
        Image
      </th>

      <th>
        Owner
      </th>

      <th>
        Caption
      </th>

      <th>
        Posted
      </th>

      <th>
        Likes
      </th>

      <th>
      </th>
    </tr>

    <% @user_photos.each do |a_photo| %>
    <tr>
      <th>
        <img src="<%= a_photo.image %>">
      </th>

      <th>
        <%= @the_username %>
      </th>

      <th>
        <%= a_photo.caption %>
      </th>

      <th>
        <%= time_ago_in_words(a_photo.created_at) %>
      </th>

      <th>
        <%= a_photo.likes_count %>
      </th>

      <th>
        <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
      </th>
    </tr>
    <%end%>
  </table>
</div>
