<h1>List of photos</h1>

  <form action="/insert_photo" method="post" enctype="multipart/form-data" class="form-horizontal">
       
      <label for="user_upload_image">
        Image
      </label>

      <input type="file" id="user_upload_image" name="query_image" placeholder="Enter URL for the image..." class="form-control">
    
      <label for="caption_box">
        Caption
      </label>

      <textarea id="caption_box" name="query_caption" rows="2" placeholder="Enter a caption for the photo"></textarea>
    
    <button>
      Add photo
    </button>
  </form>

<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Owner
        </th>

        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Comments count
        </th>

        <th>
          Likes count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>
        <td>
          <%= a_photo.id %>
        </td>

        <td>
          <%= a_photo.owner_id %>
        </td>

        <td>
          <%#= a_photo.image %>
          <img src="<%= a_photo.image %>">
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.comments_count %>
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_photo.updated_at) %> ago
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
