<div>
  <div>
    <h1>
      Photo Details
    </h1>
    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>">
      </dd>
      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>
      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_owner.username %>
      </dd>
      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>
      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>
      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        <%= @list_of_fans.formatted_list %>
      </dd>

      <dt>
        Add a fan
      </dt>
      <dd>
        <% if @list_of_fans.where({ :id => current_user.id}).count > 0 %>
          <a href="/delete_like/<%= @the_photo.id %>">
            Unlike
          </a>
        <% else %>
          <form action="/insert_like" method="post">
            <input type="hidden" value= <%= @the_photo.id %> name="query_photo_id">
            <button>Like</button>
          </form>
        <% end %>
      </dd>

      <% if @the_photo.owner_id == current_user.id %>
        
      <dt>
        Edit photo
      </dt>
      <dd>
        <form action="/modify_photo/<%= @the_photo.id%>" method="post">
          <label for="user_upload_image">Image URL</label>
          <input id="user_upload_image" type="text" name="query_image" placeholder="Enter a URL for the image..." value=<%= @the_photo.image%>>

          <label for="browser_caption">Caption</label>
          <textarea id="browser_caption" name="query_caption" placeholder="Enter a caption for the photo..."><%= @the_photo.caption%></textarea>

          <button>Update photo</button>
        </form>
      </dd>

      <dt>
        Delete photo
      </dt>
      <dd>
        <a href="/delete_photo/<%= @the_photo.id%>">
          Delete this photo
        </a>
      </dd>
      
      <% end %>
    </dl>

  </div>
</div>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @list_of_comments.each do |a_comment| %>
    <tr>
      <th> <%= a_comment.owner.username %> </th>
      <th> <%= a_comment.body %> </th>
      <th> <%= time_ago_in_words(a_comment.created_at) %> ago </th>
    </tr>
  <% end %>
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <input type="hidden" value=<%= @the_photo.id%> name="query_photo_id">

  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>
